@import './base.css';

#app {
  max-width: 1280px;
  margin: 0px auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--neutral-light);
  transition: 0.4s;
  padding: 3px;
}

:root {
  /* 背景色 */
  --background-primary: #FFFFFF; /* 主背景色 */
  --background-secondary: #F5F5F5; /* 区域背景色 */

  /* 紫色系主色 */
  --primary-color: #678fc7; /* 主色 */
  --secondary-color: #e07557; /* 辅色 */
  --accent-color: #71b5f1; /* 强调色 */

  /* 主标题色 */
  --heading: #3e63d1; 

  /* 中性色 */
  --neutral-light: #3f4a9c; /* 次要文字色 */
  --neutral-dark: #9E9E9E; /* 分隔线/边框 */

  /* 基本文字颜色 */
  --text-primary: #1E1B2E; /* 主文字 */
  --text-secondary: #4F4F4F; /* 次要文字 */

  /* 基本字体 */
  --font-family: 'Poppins', system-ui, Tahoma, Geneva, Verdana, sans-serif;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--secondary-color);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
